<h1>Add a task for <%= @day.date.strftime("%a, %B %-d, %Y") %></h1>

<form action="/days/<%= @day.id %>/tasks" method="post">
  <input type="text" name="content" value="">
  <input type="submit" value="Add Task">
</form>
