/* //////////////// GENERAL ////////////////// */

html {
  height: 100%;
}

body {
  background-image: url(/images/dot_grid.png);
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  height: 100%;
  line-height: 1.4em;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  letter-spacing: .01em;
}

p {
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: #000;
  transition: color 0.2s linear;
}

a:hover {
  text-decoration: none;
  color: #08A854;
}

/* //////// WRAPPERS ////// */

#all-wrap {
  width: 60%;
  background-color: rgba(255, 255, 255, .7);
  padding: 0 5%;
  margin: auto;
  height: 100%;
}

#bookmark {
  display: inline-block;
  position: fixed;
}

#menu-wrap {
  display: inline-block;
  width: 15%;
  padding-right: 5%;
  padding-top: 3%;
  height: 90%;
}

#logo {
  width: 160px;
}

#content-wrap {
  display: inline-block;
  padding: 0 5%;
  position: fixed;
  overflow:visible;
  padding-top: 3%
}

/* /////// FLASH DIVS ////// */
div.error-message {
  color: #E3280B;
}

div.success-message {
  color: #08A854;
}

/* /// MENUS ////// */

#menu {
  list-style-type: none;
  padding-top: 1em;
}

#menu a {
  display: block;
  font-size: 1.3em;
  line-height: 1.6em;
}

div.line {
  width:50%;
  border-bottom: 2px solid #000;
  margin: 20px 0;
}

div.day-nav {
  font-size: 1.3em;
  line-height: 1.6em;
}

h1.day-title {
  margin-bottom: .3em;
}


/* /////// TASKS + EVENTS /////// */

.task-component {
  display: inline-block;
}

div.task, div.event-item {
  padding: 4px 0;
  font-size: 1.2em;
}

div.indicator {
  padding: 0 8px;
}

div.content {
  margin-right: 6px;
}

/* /////// FORM STYLES //////// */

form input[type="text"] {
  padding: 12px, 20px;
  box-sizing: border-box;
}

input[type=button], input[type=submit] {
    background-color: transparent;
    border: 2px solid transparent;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    transition: border 0.2s linear;
}

/*////// ICON STYLES ///////*/


.icon {
    cursor: pointer;
    width: 24px;
    height: 24px;
    border: none;
    display: inline-block;
    margin-right: 6px;
    transition: background-image 0.2s linear;
}

div.event {
  background-image: url(/images/circle-outline.png);
  background-size: contain;
  cursor: auto;
}

div.edit {
  background-image: url(/images/editblk.png);
  background-size: contain;
  position: relative;
  top: 2px;
}

div.edit:hover {
  background-image: url(/images/edit-grn.png);
  background-size: contain;
}


div.migrate {
    background-image: url(/images/scroll-arrow-to-rightblk.png);
    background-size: contain;
}

div.migrate:hover {
    background-image: url(/images/scroll-arrow-to-rightgrn.png);
    background-size: contain;
}


div.migrated {
    background-image: url(/images/scroll-arrow-to-rightblk.png);
    background-size: contain;
    cursor: auto;
}

div.complete {
    background-image: url(/images/bullet-icon-01.png);
    background-size: contain;
}

div.complete:hover {
    background-image: url(/images/letter-x.png);
    background-size: contain;
}

div.completed {
    background-image: url(/images/letter-x.png);
    background-size: contain;
    cursor: auto;
}

div.delete {
    background-image: url(/images/rubbish-binblk.png);
    background-size: contain;
}

div.delete:hover {
    background-image: url(/images/rubbish-bingrn.png);
    background-size: contain;
}


div.add {
    background-image: url(/images/add-songblk.png);
    background-size: contain;
}

div.add:hover {
    background-image: url(/images/add-song.png);
    background-size: contain;
}

/* ///// FIXES ////// */

.clearfix:after {
   content: "."; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
