<h1>Welcome <%= current_user.first_name %>!</h1>

<% if flash[:success] %>
  <div class="success-message">
    <%= flash[:success] %>
  </div>
<% end %>

<% if current_user.days.all.count == 0 %>
<p>
  First time? <a href="#">Get a quick tutorial</a>!
</p>
<% end %>

<ul>
  <li><a href="/days/today">View today's list</a></li>
  <li><a href="/days/tomorrow">View tomorrow's list</a></li>
  <li><a href="/tasks">View all open tasks</a></li>
  <li><a href="/days">View your index</a></li>
</ul>
