<h1>Log into BuJo 2.0</h1>

<% if flash[:success] %>
  <div class="success-message">
    <%= flash[:success] %>
  </div>
<% elsif flash[:error] %>
  <div class="error-message">
    <%= flash[:error] %>
  </div>
<% end %>

<form action="/login" method="post">
  <table>
    <tr>
      <td class="col-1">
        <label>Email:</label>
      </td>
      <td class="textbox">
        <input type="text" name="email" value="">
      </td>
    </tr>
    <tr>
      <td class="col-1">
        <label>Password:</label>
      </td>
      <td class="textbox">
        <input type="password" name="password" value="">
      </td>
    </tr>
  </table>

  <input type="submit" value="Submit">
</form>
