<h1>Log into Bujo 2.0</h1>

<form action="/login" method="post">
  <table>
    <tr>
      <td class="col-1">
        <label>Email:</label>
      </td>
      <td class="textbox">
        <input type="text" name="first_name" value="">
      </td>
    </tr>
    <tr>
      <td class="col-1">
        <label>Password:</label>
      </td>
      <td class="textbox">
        <input type="text" name="last_name" value="">
      </td>
    </tr>

      <input type="submit" value="Submit">
      
  </table>
</form>
