<h1>Add an Event</h1>

<% if flash[:success] %>
  <div class="success-message">
    <%= flash[:success] %>
  </div>
<% elsif flash[:error] %>
  <div class="error-message">
    <%= flash[:error] %>
  </div>
<% end %>

<form class="add" action="/days/<%= @day.id %>/events" method="post">
  <input type="text" name="content" value="">
  <div class="add icon">
    <input type="submit" value="">
  </div>
</form>
