<h1>About BuJo 2.0</h1>

<p>
  BuJo 2.0 is a Sinatra application created by Elyse Klova to fulfill the requirements of <a href="https://github.com/learn-co-students/sinatra-cms-app-assessment-v-000">Learn.co's Sinatra Portfolio Project</a>. All functionality was built using Ruby, ActiveRecord, and Sinatra, with a special shoutout to ERB for making a lot of nice things possible.
</p>

<p>
  The application itself is designed to follow the standard conventions of bullet journaling, especially as it pertains to creating and working with daily task lists. BuJo 2.0 lets you create, edit, and delete both tasks and events. You can also migrate incomplete tasks forward to the current day.
</p>

<p>
  For more information about the bullet journal methodology, the best source is the original <a href="http://bulletjournal.com">BulletJournal.com</a>.
</p>

<h2>Credits</h2>
<p>
  The Bullet Journal methodology is &#169; Ryder Carroll.
</p>
<p>
  All icons were sourced from <a href="http://flaticon.com">Flaticon.com</a>
</p>

<p>
  Credits for individual icons are as follows:
</p>

<div class="credit"><div class="migrate icon task-component"></div> made by <a href="http://www.flaticon.com/authors/daniel-bruce" title="Daniel Bruce">Daniel Bruce</a> from <a href="http://www.flaticon.com" title="Flaticon">Flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

<div class="credit"><div class="icon event task-component"></div> made by <a href="http://www.flaticon.com/authors/google" title="Google">Google</a> from <a href="http://www.flaticon.com" title="Flaticon">Flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

<div class="credit"><div class="completed icon"></div> made by <a href="http://www.flaticon.com/authors/lyolya" title="Lyolya">Lyolya</a> from <a href="http://www.flaticon.com" title="Flaticon">Flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

<div class="credit"><div class="add icon"></div> made by <a href="http://www.flaticon.com/authors/egor-rumyantsev" title="Egor Rumyantsev">Egor Rumyantsev</a> from <a href="http://www.flaticon.com" title="Flaticon">Flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

<div class="credit"><div class="delete icon"></div> made by <a href="http://www.flaticon.com/authors/icon-works" title="Icon Works">Icon Works</a> from <a href="http://www.flaticon.com" title="Flaticon">Flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

<div class="credit"><div class="edit icon"></div> made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">Flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

<div class="credit"><img class="icon" src="/images/edit.png" alt="" /> made by <a href="http://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a> from <a href="http://www.flaticon.com" title="Flaticon">Flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
