<h1>Using BuJo 2.0</h1>

<p>
  BuJo 2.0 was designed to mimic the everyday functions of the standard Bullet Journal methodology. You can think of it as your collection of Daily Logs: just like if you were using a physical paper journal, you can add, edit, delete, and migrate your tasks.
</p>

<p>
  If you're unfamiliar with Bullet Journaling, be sure to check out the <a href="http://bulletjournal.com/get-started/">"Get Started" section</a> on Bulletjournal.com.
</p>

<h2>What BuJo 2.0 Can Do</h2>
<p>
  When you log into BuJo 2.0 for the first time, you'll see the daily log for today, with headers for Tasks and Events. All you need to do to get started is to create a new Task or Event: click the "+" next to the one you want, fill in the content, and press the "+" button again to add it.
</p>

<p>
  The big difference between Tasks and Events is that a Task is something to be completed, whereas an Event is something that has happened.*
</p>

<p>*<em>Pro tip: You can also use events to log a task that you didn't have on your list but you've already completed. For example, if I wasn't planning to rearrange my furniture today but I got inspired and did it anyway, I might list that as an event instead of a task.</em></p>

<p>
  Examples of Tasks:
</p>
<ul>
  <li>Send invoice to client</li>
  <li>Finish HTML and CSS for Rails application</li>
  <li>Create playlist for next week's party</li>
  <li>Push app to Heroku</li>
</ul>

<p>
  Examples of Events:
</p>
<ul>
  <li>Watched Hidden Figures</li>
  <li>Got dinner and drinks at Rosewater</li>
  <li>Tried new Ben and Jerry's flavor</li>
</ul>

<p>
  A task in BuJo 2.0 looks like this:
</p>

<div class="task">
  <div class="complete icon"></div>
  <div class="task-component content">This is your task description</div>
  <div class="migrate icon"></div>
  <div class="edit icon"></div>
  <div class="delete icon"></div>
</div>

<p>
To complete a task, click <img class="inline" src="/images/bullet-icon-01.png" alt="" /> and it will become an <img class="inline" src="/images/letter-x.png" alt="" />.
</p>

<p>
  If you aren't able to complete a task on the day it's listed, use the <img class="inline" src="/images/scroll-arrow-to-rightblk.png" alt="" /> to migrate the task. If you're migrating a past task, it will migrate to the current day, and if you migrate a task from today, it will move to tomorrow. You can see tasks that have been migrated are marked with a <img class="inline" src="/images/scroll-arrow-to-rightblk.png" alt="" />. The actual task has been moved to the current date (where it can be completed).
</p>

<p>
  Click <img class="inline" src="/images/editblk.png" alt="" /> to edit a task description
</p>

<p>
  Click <img class="inline" src="/images/rubbish-binblk.png" alt="" /> to completely delete a task
</p>

<p>
  Events are signified with a <img class="inline" src="/images/circle-outline.png" alt="" />, and can only be edited or deleted.
</p>

<h2>What BuJo 2.0 Can't Do</h2>

<p>
  Because BuJo 2.0 primarily deals with the daily log, it doesn't currently have the ability to do anything that involves scheduling; there's no monthly log and no way to schedule specific tasks on specific days other than today and tomorrow.
</p>
