<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BuJo 2.0</title>
    <link rel="stylesheet" href="/css/styles.css" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Source+Sans+Pro" rel="stylesheet">
  </head>
  <body>
    <div id="all-wrap" class="clearfix">
      <div id="menu-wrap">
        <a href="/days/today"><img id="logo" src="/images/bujo_logo_color.png" alt="" /></a>
        <div id="menu">
          <% if is_logged_in? %>
          <a href="/days/today">Today</a>
          <a href="/days/tomorrow">Tomorrow</a>
          <a href="/tasks">All Tasks</a>
          <a href="/days">Day Index</a>
          <a href="/settings">Settings</a>
          <a href="/logout">Log Out</a>
          <% else %>
          <a href="/login">Log In</a>
          <a href="/signup">Create Account</a>
          <% end %>
          <div class="line">
          </div>
          <a href="/help">Help</a>
          <a href="/about">About</a>
        </div>
      </div>
      <img id="bookmark" src="/images/bookmark-01.png" alt="" />
      <div id="content-wrap">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
