<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BuJo 2.0</title>
    <link rel="stylesheet" href="/css/styles.css" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Source+Sans+Pro" rel="stylesheet">
  </head>
  <body>
    <div id="all-wrap">
      <%= yield %>
    </div>
  </body>
</html>
